:root {
  --zoloto: #e8d6ac;
  --chernyy: #242424;
  --blue: #007bff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --primary: #007bff;
  --secondary: #6c757d;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f8f9fa;
  --dark: #343a40;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --font-family-sans-serif: -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, 'Helvetica Neue', Arial, 'Noto Sans', 'Liberation Sans', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
    'Liberation Mono', 'Courier New', monospace;
}

body {
  background-color: #16120e;
}

img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}

.container {
  max-width: 1200px;
  /*width: 100%;*/
  padding: 0 13px;
  margin: 0 auto;
}

.btn {
  border-radius: 10px;
  padding: 0 40px;
  max-width: 260px;
  width: 100%;
  height: 50px;
  line-height: 50px;
  font-family: 'Montserrat-Bold', sans-serif;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  text-align: center;
  color: var(--chernyy);
  background: var(--zoloto);
  cursor: pointer;
  outline: none;
  border: 1px solid transparent;
}

.title {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat-Bold', sans-serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 1.2;
  text-transform: uppercase;
  color: var(--white);
}

.title__active {
  color: var(--zoloto);
}

.header {
  width: 100%;
  height: 55px;
  background-color: red;
}
.hero__content {
  padding-top: 28px;
}
.hero__subtitle {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat-Bold', sans-serif;
  font-weight: 700;
  font-size: 13px;
  line-height: 1.2;
  text-transform: uppercase;
  color: var(--zoloto);
  margin-bottom: 78px;
}
.hero__title {
  max-width: 770px;
  margin-bottom: 51px;
}
/* .hero__title--active {
  
} */
.hero__advantages {
  width: 551px;
  margin-bottom: 69px;
}
.hero__advantages-list {
  width: 100%;
  gap: 10px;
  display: flex;
  flex-wrap: wrap;
}
.hero__advantages-item {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat-Regular', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  color: var(--white);
  max-width: 270px;
  width: 100%;
  min-height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  background-color: rgba(22, 18, 14, 0.08);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  border-top: 1px solid #676563;
  border-bottom: 1px solid #676563;
  /* padding: 0 24px; */
}
.hero__entry-form {
  max-width: 320px;
  width: 100%;
}
.hero__entry-form-btn {
  margin-bottom: 10px;
}
.hero__entry-form-desc {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat-Regular', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  text-transform: lowercase;
  color: var(--white);
}

.employees {
  width: 100%;
  padding: 100px 0;
}
.employees__title {
  margin-bottom: 69px;
}
.employees__content-list {
  display: flex;
  flex-direction: column;
  width: 100%;
  row-gap: 60px;
}
.employees__content-item {
  width: 100%;
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
}
.employees__content-img-box {
  max-width: 790px;
  height: 330px;
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
}
.employees__content-img-box-item {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}
.employees__content-item--right .employees__content-img-box {
  order: 2;
}
.employees__content-item--right .employees__content-desc {
  order: 1;
  margin-left: 0;
  margin-right: -40px;
}
.employees__content-desc {
  max-width: 430px;
  width: 100%;
  border-radius: 10px;
  background-color: rgba(22, 18, 14, 0.08);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  border-top: 1px solid #676563;
  border-bottom: 1px solid #676563;
  padding: 64px 0 63px 0;
  text-align: center;
  margin-left: -40px;
}
.employees__content-desc-title {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat-Bold', sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  color: var(--zoloto);
  margin-bottom: 10px;
}
.employees__content-desc-subtitle {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat-Regular', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  color: var(--white);
  text-align: center;
  display: inline-block;
}
.employees__content-item--text {
  justify-content: center;
}
.employees__content-item--text-title {
  text-transform: uppercase;
  text-align: center;
}

.together {
  width: 100%;
  padding: 110px 0;
  text-align: center;
}
.together__title {
  /* text-align: center; */
  margin-bottom: 48px;
  text-transform: lowercase;
}
.together__title::first-letter {
  text-transform: uppercase;
}

.slider-together {
  width: 100%;
  height: 750px;
}
.sliderTogetherSwiper {
  margin-bottom: 60px;
}
.sliderTogetherSwiper .swiper-button-next,
.sliderTogetherSwiper .swiper-rtl .swiper-button-prev,
.sliderTogetherSwiper .swiper-button-prev,
.sliderTogetherSwiper .swiper-rtl .swiper-button-next {
  width: 29px;
  height: 47px;
  background-color: var(--zoloto);
  border-radius: 10px;
}
.sliderTogetherSwiper .swiper-button-next {
  right: 135px;
}
.sliderTogetherSwiper .swiper-button-prev {
  left: 135px;
}
.sliderTogetherSwiper .swiper-button-next:after,
.sliderTogetherSwiper .swiper-button-prev:after {
  font-size: 13px;
  /* color: #2b2b2b; */
  color: #000;
  font-weight: 900;
}
.sliderTogetherSwiper .swiper-pagination-bullet {
  width: 33px;
  height: 2px;
  background: #d9d9d9;
  opacity: 0.5;
  margin: 0 2px !important;
}
.sliderTogetherSwiper
  .swiper-pagination-bullet.swiper-pagination-bullet-active {
  opacity: 1;
}
.sliderTogetherSwiper
  .swiper-pagination.swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: 30px;
}
.slider-together__form {
  margin: 0 auto;
  width: 970px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.slider-together__form-title {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat-Bold', sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  color: var(--white);
  margin-bottom: 20px;
}
.interview-form {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  margin-bottom: 60px;
}
.interview-form__input-box {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.interview-form__input--name,
.interview-form__input--call-umber {
  padding: 0;
  margin: 0;
  width: 33%;
  border-radius: 10px;
  margin-right: 12px;
  outline: none;
  border: 1px solid transparent;
  padding: 12px 22px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.04em;
  color: var(--chernyy);
}
.interview-form__input--name::placeholder,
.interview-form__input--call-umber::placeholder {
  opacity: 0.5;
}
.interview-form__btn {
  max-width: 33%;
}
.interview-form__soglasie {
  width: 100%;
  text-align: center;
}
.interview-form__soglasie-label {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat-Regular', sans-serif;
  font-weight: 400;
  font-size: 13px;
  text-align: center;
  color: var(--white);
  opacity: 0.5;
}
.interview-form__soglasie--link {
  padding: 0;
  margin: 0;
  font-size: 13px;
  text-align: center;
  color: var(--white);
  font-family: 'Montserrat-Bold', sans-serif;
  font-weight: 700;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  opacity: 0.5;
}
